.albuns {
    margin-bottom: 30px;
}
.lista-albuns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.albuns>h2 {
    margin-bottom: 20px;
}
.card {
    box-sizing: border-box;
    list-style: none;
    height: 270px;
    width: 48.5%;
}
.div-img {
    height: 50%;
    width: 100%;
}
.div-img>img {
    height: 100%;
    width: 100%;
    border-top-left-radius: var(--radius-1);
    border-top-right-radius: var(--radius-1);
}
.div-info {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 14px;
    gap: 23px;
    background-color: var(--color-grey-8);
    border-bottom-left-radius: var(--radius-1);
    border-bottom-right-radius: var(--radius-1);
}
.preco-comprar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preco-comprar>button {
    border: none;
    background-color: var(--color-grey-7);
    padding: 5px;
    border-radius: var(--radius-1);
    font-family: "Inter", sans-serif;
    font-size: var(--font-3);
    font-weight: 500;
}
.preco-comprar>button:hover {
    cursor: pointer;
}